DATA_DIR="/data"
RUNPOD_API_KEY="your-runpod-api-key"
RUNPOD_API_URL="https://api.runpod.ai/v2/your-endpoint-id/runsync"
PUBLIC_BASE_URL="your-public-base-url"
USE_OPENAI=false

GROQ_API_KEY="your-groq-api-key"
OPENAI_API_KEY="your-openai-api-key"

NGROK_AUTHTOKEN="your-ngrok-authtoken"
